.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #07275e, #365cd8, #49bdd3);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #07275e, #365cd8, #49bdd3);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.head-content {
    width: 960px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.white-link {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.white-link:hover {
    color: #cecece;
}

#header {
    padding: 22px 0px 38px;
    background: #042354 repeat-x bottom left;
}

#cuerpo {
    width: 960px;
    margin: 0px auto;
}